.skill-share-inner .content li a {
  color: var(--color-primary) !important;
  margin-left: 10px;
  text-transform: uppercase;
}

.rn-portfolio .inner .thumbnail {
  position: relative;
}

.rn-portfolio .inner .owner {
  position: absolute;
  left: 10px;
  bottom: -10px;
}

.rn-portfolio .inner .content p span {
  color: var(--color-primary);
}

.navs ul li {
  list-style: none;
  padding: 5px 15px;
}

.navs ul a[aria-current] {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 10px 10px 0px 0px;
}

.white-version .owner img {
  border: 5px solid #ecf0f3;
}

.owner img {
  border: 5px solid #1d1e24;
}

.rn-portfolio::before:hover,
.rn-blog::before:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

.white-version .cont h4 {
  font-size: 1.8rem !important;
  color: rgb(46, 46, 46) !important;
}

.cont h4 {
  font-size: 1.8rem !important;
}

.white-version .location h4 {
  font-size: 1.8rem !important;
  color: rgb(46, 46, 46) !important;
}

.location h4 {
  font-size: 1.8rem !important;
}

.white-version .content .head .avatar {
  border: 3px solid var(--color-primary);
}

@media only screen and (max-width: 767px) {


  .location h4 {
    font-size: 1.4rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .location h4 {
    font-size: 1.5rem !important;
  }
}

.h-search-form {
  position: relative;
  text-align: center;
}

.h-search-form input {
  width: 70%;
  padding: 0 30px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  color: #333;
  height: 70px;
  border: 2px solid #888;
}

.h-search-form button {
  position: relative;
  right: 110px;
  height: 60px;
  color: #fff;
  background: var(--color-primary);
  top: px;
  border-radius: 50px;
  border: none;
  width: 100px;
}

.h-search-form button:hover {
  background: var(--color-primary);
  color: #1d1e24;
}