.skill-share-inner .content li a {
  color: var(--color-primary) !important;
  margin-left: 10px;
  text-transform: uppercase;
}

.rn-portfolio .inner .thumbnail {
  position: relative;
}

.rn-portfolio .inner .owner {
  position: absolute;
  left: 10px;
  bottom: -10px;
}

.rn-portfolio .inner .content p span {
  color: var(--color-primary);
}

.navs ul li {
  list-style: none;
  padding: 5px 15px;
}

.navs ul a[aria-current] {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 10px 10px 0px 0px;
}

.white-version .owner img {
  border: 5px solid #ecf0f3;
}

.owner img {
  border: 5px solid #1d1e24;
}

.rn-portfolio::before:hover,
.rn-blog::before:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

.white-version .cont h5 {
  font-size: 1.8rem;
  color: rgb(46, 46, 46) !important;
}

.cont h5 {
  font-size: 1.8rem;
}

.white-version .location h4 {
  font-size: 1.8rem;
  color: rgb(46, 46, 46) !important;
}

.location h4 {
  font-size: 1.8rem !important;
}

@media only screen and (max-width: 767px) {
  .location h4 {
    font-size: 1.4rem !important;
  }

  .cont h5 {
    font-size: 1.4rem !important;
  }
}

.white-version .content .head .avatar {
  border: 3px solid var(--color-primary);
  padding: 4px;
}

.content .head .avatar {
  border: 3px solid var(--color-primary);
}

.white-version .content .head img.avatar {
  width: 100px;
  height: 100px;
}

.content .head img.avatar {
  width: 100px !important;
  height: 100px !important;
}

@media only screen and (max-width: 767px) {
  .content .head img.avatar {
    width: 90px !important;
    height: 90px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .location h4 {
    font-size: 1.5rem !important;
  }
}

.social .card-btn-container .card-btn svg {
  font-size: 20px;
}

.social .card-btn-container .card-btn {
  padding: 10px;
  transition: all 0.3;
}

.social .card-btn-container .card-btn:hover svg {
  color: #fff;
}

.h-search-form {
  position: relative;
  text-align: center;
}

.h-search-form input {
  width: 70%;
  padding: 0 30px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  color: #333;
  height: 50px;
  border: 2px solid #888;
}

@media only screen and (max-width: 767px) {
  .h-search-form input {
    width: 100%;
  }
}

.h-search-form button {
  position: relative;
  right: 110px;
  height: 40px;
  color: #fff;
  background: var(--color-primary);
  top: px;
  border-radius: 50px;
  border: none;
  width: 100px;
}

@media only screen and (max-width: 767px) {
  .h-search-form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
  }

  .white-version .section-title h2.title {
    font-size: 40px;
    font-weight: 900;
  }
}

.router-homepage {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
  top: -20px;
  color: #fff !important;
  cursor: pointer;
  font-size: 17px !important;
  font-size: 1rem;
  font-weight: 700 !important;
  left: 49%;
  padding: 0.375rem 0.75rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transform: translate(-44%);
  transform: translate(-44%);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  z-index: 9999;
}

@media only screen and (max-width: 1199px) {
  .router-homepage {
    /* bottom: 0; */
    top: 115px;
    font-size: 16px !important;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 9999;
  }
}

@media only screen and (min-width: 1024px) {
  .router-homepage {
    /* bottom: 0; */
    top: -20px;
    font-size: 16px !important;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 9999;
  }
}